# See https://www.dartlang.org/guides/libraries/private-files
**/*.iml
**/.idea
**/.DS_Store
**/.packages
**/.dart_tool/
**/.pub/
**/build
**/pubspec.lock
**/.gitignore

.DS_Store
.atom/
.idea/
.vscode/

.packages
.pub/
.dart_tool/
pubspec.lock

Podfile
Podfile.lock
Pods/
.symlinks/
**/Flutter/App.framework/
**/Flutter/Flutter.framework/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_assets/
ServiceDefinitions.json
xcuserdata/

local.properties
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
*.iml

GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
build/
.flutter-plugins

### Eclipse Patch ###
# Legacy Eclipse project files
.project
.classpath
.settings

# Annotation Processing
.apt_generated
packages/weather/example/ios/Flutter/flutter_export_environment.sh
packages/health/example/.flutter-plugins-dependencies
packages/health/example/ios/Flutter/flutter_export_environment.sh
packages/health/example/.flutter-plugins-dependencies
packages/health/example/.flutter-plugins-dependencies
packages/health/example/.flutter-plugins-dependencies
packages/screen_state/example/.flutter-plugins-dependencies
*.sh
packages/carp_background_location/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
*.podspec
*.sh
*.pbxproj
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/ios/Flutter/.last_build_id
*.sh
packages/light/example/.flutter-plugins-dependencies
packages/light/example/ios/Flutter/flutter_export_environment.sh
*.sh
packages/esense_flutter/example/.flutter-plugins-dependencies
packages/esense_flutter/example/ios/Flutter/flutter_export_environment.sh
packages/esense_flutter/example/.flutter-plugins-dependencies
packages/esense_flutter/example/ios/Flutter/flutter_export_environment.sh
packages/flutter_foreground_service/example/.flutter-plugins-dependencies
packages/mobility_features/example/.flutter-plugins-dependencies
packages/mobility_features/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
*.sh
packages/health/example/.flutter-plugins-dependencies
packages/health/example/ios/Flutter/flutter_export_environment.sh
*.sh
packages/noise_meter/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
*.sh
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/light/example/.flutter-plugins-dependencies
*.sh
packages/mobility_features/example/.flutter-plugins-dependencies
packages/mobility_features/mobility_features_example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/activity_recognition_flutter/example/.flutter-plugins-dependencies
packages/mobility_features/example/.flutter-plugins-dependencies
packages/notifications/example/.flutter-plugins-dependencies
packages/esense_flutter/example/.flutter-plugins-dependencies
packages/esense_flutter/example/.flutter-plugins-dependencies
packages/esense_flutter/example/.flutter-plugins-dependencies
packages/notifications/example/.flutter-plugins-dependencies
packages/noise_meter/example/.flutter-plugins-dependencies
*.sh
packages/health/example/.flutter-plugins-dependencies
