name: notifications
description: A plugin for tracking notifications on the device. Works exclusively for Android.
version: 1.1.0
homepage: https://github.com/cph-cachet/flutter-plugins/tree/master/packages/notifications

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: dk.cachet.notifications
        pluginClass: NotificationsPlugin
      ios:
        pluginClass: NotificationsPlugin